*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(28, 117, 250),rgb(34, 2, 159));
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 60px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #400505;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.text-box h1{
    font-size: 40px;
}

.text-box p{
    margin: 10px 0 48px;
    font-size: 16px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #2b1735;
    background: #2b1735;
    transition: 1s;
}

nav .fa{
    display: none;
}
@media(max-width: 800px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #2b1735;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/* <!-- Our Services --> */

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.serv-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    background: #1C75FA;
}

.serv-col img{
    width: 250px;
}

.serv-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    background: #22029F;
    transition: 0.5s;
    color: #fff;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

h4{
    color: #fff;

}

@media(max-width: 767px){
    .row{
        flex-direction: column;
    }

    .serv-col img{
        width: 150px;
    }
    
}

/* ---Portfolio---- */
.portfolio{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.port-col{
    flex-basis: 23%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    background-color: #5775F9;
}

.team{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: 1000px;
}

.footer{
   /* width: 80%; */
   padding-top: 100px; 
   margin: auto;
   background-color: #0A0B11;
   padding-bottom: 50px;
}

.foot-links{
    width: 80%;
    margin: auto;
}

.foot-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.foot-col ul li{
    display: block;
    list-style: none;
}